<header class="site-header">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">
        <a [routerLink]="['/']" class="logo-link">
          <i class="fas fa-fire"></i>
          <span>CRYO<span class="highlight">BLAZE</span></span>
        </a>
      </div>
      <button class="mobile-menu-toggle" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <div class="nav-links">
        @for (item of navItems; track item.link) {
          <a
            [routerLink]="item.link"
            routerLinkActive="active"
            class="nav-link"
          >
            {{ item.label | translate }}
          </a>
        }
      </div>
      <div
        class="language-switcher"
        role="button"
        aria-haspopup="listbox"
        [attr.aria-expanded]="langMenuOpen()"
        tabindex="0"
        (click)="toggleLang()"
        (keydown.enter)="toggleLang()"
      >
        <div class="lang-display">
          <span class="flag">{{ currentLangInfo().flag }}</span>
          <span class="lang-label">{{ currentLangInfo().name }}</span>
          <svg class="chevron" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5 8l5 5 5-5" fill="none" stroke="currentColor" stroke-width="2" />
          </svg>
        </div>

        @if(langMenuOpen()) {
          <ul class="language-menu" role="listbox">
            @for(lang of supportedLangsInfo(); track lang.name) {
              <li
                class="language-item"
                role="option"
                [attr.aria-selected]="currentLang() === lang.name"
                tabindex="0"
                (click)="selectLanguage(lang.name)"
                (keydown.enter)="selectLanguage(lang.name)"
              >
                <span class="flag">{{ lang.flag }}</span>
                <span class="lang-label">{{ lang.name }}</span>
                @if (currentLang() == lang.name){
                  <svg class="checkmark" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M6 10l3 3 6-6" fill="none" stroke="currentColor" stroke-width="2"/>
                  </svg>
                }

              </li>
            }
          </ul>
        }
      </div>
      <div class="social-links">
        <!-- LinkedIn -->
        @if (hero.linkedin) {
          <a href="https://linkedin.com" class="social-link" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="social-icon"
                 aria-hidden="true">
              <path
                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"/>
            </svg>
          </a>
        }

        <!-- GitHub -->
        @if (hero.github) {
          <a [href]="hero.github" class="social-link" aria-label="GitHub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="social-icon"
                 aria-hidden="true">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0 1 12 6.844a9.59 9.59 0 0 1 2.504.337c1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.02 10.02 0 0 0 22 12.017C22 6.484 17.522 2 12 2z"/>
            </svg>
          </a>
        }

        <!-- Twitter -->
        @if (hero.twitter) {
          <a href="https://twitter.com" class="social-link" aria-label="Twitter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="social-icon"
                 aria-hidden="true">
              <path
                d="M22.46 6.012c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.056a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.075 9.075 0 0 1-5.604 1.93A9.21 9.21 0 0 1 3 18.47a12.763 12.763 0 0 0 6.918 2.027c8.3 0 12.842-6.876 12.842-12.841 0-.196-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336l-.002-.007z"/>
            </svg>
          </a>
        }

        <!-- Facebook -->
        @if (hero.facebook) {
          <a href="https://facebook.com" class="social-link" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="social-icon"
                 aria-hidden="true">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"/>
            </svg>
          </a>
        }
      </div>

    </nav>
  </div>
